.center-everything {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 6%; 
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
}
.logo img {
    max-width: 150px;
}

#modalContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 9%;
    left: 0px;
    z-index: 10000;
}

#alertBox {
    position: relative;
    width: 400px;
    max-width: 70%;
    min-height: 150px;
    margin: 200px auto auto auto;
    border: 1px solid #000;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 20px 30px;
}

#modalContainer > #alertBox {
    position:relative;
}

#alertBox h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    background-color: #F5BA2E;
    color: #FFF;
    border-bottom: 1px solid #000;
    padding: 3%;
    align-content: center;
}

#alertBox p {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    height: 50px;
    padding-left: 5px;
    align-content: center;
}

#alertBox #cancelBtn {
    display: block;
    position: relative;
    margin: 5px auto;
    padding: 7px;
    border: 0 none;
    width: 70px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: #F5BA2E;
    border-radius: 3px;
    text-decoration: none;
    align-content: center;
}
