<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
   <head>
      <!-- NAME: BOUTIQUE -->
      <!--[if gte mso 15]>
         <xml>
            <o:OfficeDocumentSettings>
               <o:AllowPNG />
               <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
         </xml>
      <![endif]-->
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>{{ Title }}</title>

      <style type="text/css">
         p {
            margin: 10px 0;
            padding: 0;
         }
         table {
            border-collapse: collapse;
         }
         h1,
         h2,
         h3,
         h4,
         h5,
         h6 {
            display: block;
            margin: 0;
            padding: 0;
         }
         img,
         a img {
            border: 0;
            height: auto;
            outline: none;
            text-decoration: none;
         }
         body,
         #bodyTable,
         #bodyCell {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
         }
         .mcnPreviewText {
            display: none !important;
         }
         #outlook a {
            padding: 0;
         }
         img {
            -ms-interpolation-mode: bicubic;
         }
         table {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
         }
         .ReadMsgBody {
            width: 100%;
         }
         .ExternalClass {
            width: 100%;
         }
         p,
         a,
         li,
         td,
         blockquote {
            mso-line-height-rule: exactly;
         }
         a[href^="tel"],
         a[href^="sms"] {
            color: inherit;
            cursor: default;
            text-decoration: none;
         }
         p,
         a,
         li,
         td,
         body,
         table,
         blockquote {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
         }
         .ExternalClass,
         .ExternalClass p,
         .ExternalClass td,
         .ExternalClass div,
         .ExternalClass span,
         .ExternalClass font {
            line-height: 100%;
         }
         a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
         }
         a.mcnButton {
            display: block;
         }
         .mcnImage,
         .mcnRetinaImage {
            vertical-align: bottom;
         }
         .mcnTextContent {
            word-break: break-word;
         }
         .mcnTextContent img {
            height: auto !important;
         }
         .mcnDividerBlock {
            table-layout: fixed !important;
         }
         /*
    @tab Page
    @section background style
    @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
    */
         body,
         #bodyTable,
         #templateFooter {
            /*@editable*/
            background-color: #ffffff;
         }
         /*
    @tab Page
    @section background style
    @tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
    */
         #bodyCell {
            /*@editable*/
            border-top: 0;
         }
         /*
    @tab Page
    @section email border
    @tip Set the border for your email.
    */
         #templateContainer {
            /*@editable*/
            border: 0;
         }
         /*
    @tab Page
    @section heading 1
    @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
    @style heading 1
    */
         h1 {
            /*@editable*/
            color: #ffffff !important;
            display: block;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 40px;
            /*@editable*/
            font-style: normal;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 100%;
            /*@editable*/
            letter-spacing: -1px;
            margin: 0;
            /*@editable*/
            text-align: center;
         }
         /*
    @tab Page
    @section heading 2
    @tip Set the styling for all second-level headings in your emails.
    @style heading 2
    */
         h2 {
            /*@editable*/
            color: #000000 !important;
            display: block;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 36px;
            /*@editable*/
            font-style: normal;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            letter-spacing: -0.75px;
            margin: 0;
            /*@editable*/
            text-align: center;
         }
         /*
    @tab Page
    @section heading 3
    @tip Set the styling for all third-level headings in your emails.
    @style heading 3
    */
         h3 {
            /*@editable*/
            color: #606060 !important;
            display: block;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 18px;
            /*@editable*/
            font-style: normal;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            letter-spacing: -0.5px;
            margin: 0;
            /*@editable*/
            text-align: left;
         }
         /*
    @tab Page
    @section heading 4
    @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
    @style heading 4
    */
         h4 {
            /*@editable*/
            color: #808080 !important;
            display: block;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 16px;
            /*@editable*/
            font-style: normal;
            /*@editable*/
            font-weight: bold;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            letter-spacing: normal;
            margin: 0;
            /*@editable*/
            text-align: left;
         }
         /*
    @tab Preheader
    @section preheader style
    @tip Set the background color and borders for your email's preheader area.
    */
         #templatePreheader {
            /*@editable*/
            background-color: #ffffff;
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 1px solid #000000;
         }
         /*
    @tab Preheader
    @section preheader text
    @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
    */
         .preheaderContainer .mcnTextContent,
         .preheaderContainer .mcnTextContent p {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 11px;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            text-align: left;
         }
         /*
    @tab Preheader
    @section preheader link
    @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
    */
         .preheaderContainer .mcnTextContent a {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
         }
         /*
    @tab Header
    @section header style
    @tip Set the background color and borders for your email's header area.
    */
         #templateHeader {
            /*@editable*/
            background-color: #ffffff;
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 0;
         }
         /*
    @tab Header
    @section header text
    @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
    */
         .headerContainer .mcnTextContent,
         .headerContainer .mcnTextContent p {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 16px;
            /*@editable*/
            line-height: 150%;
            /*@editable*/
            text-align: center;
         }
         /*
    @tab Header
    @section header link
    @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
    */
         .headerContainer .mcnTextContent a {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
         }
         /*
    @tab Body
    @section body style
    @tip Set the background color and borders for your email's body area.
    */
         #templateBody {
            /*@editable*/
            background-color: #ffffff;
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 0;
         }
         /*
    @tab Body
    @section body text
    @tip Set the styling for your email's body text. Choose a size and color that is easy to read.
    */
         .bodyContainer .mcnTextContent,
         .bodyContainer .mcnTextContent p {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 16px;
            /*@editable*/
            line-height: 150%;
            /*@editable*/
            text-align: center;
         }
         /*
    @tab Body
    @section body link
    @tip Set the styling for your email's body links. Choose a color that helps them stand out from your text.
    */
         .bodyContainer .mcnTextContent a {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
         }
         /*
    @tab Columns
    @section column style
    @tip Set the background color and borders for your email's columns area.
    */
         #templateColumns {
            /*@editable*/
            background-color: #ffffff;
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 0;
         }
         /*
    @tab Columns
    @section left column text
    @tip Set the styling for your email's left column text. Choose a size and color that is easy to read.
    */
         .leftColumnContainer .mcnTextContent,
         .leftColumnContainer .mcnTextContent p {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 14px;
            /*@editable*/
            line-height: 150%;
            /*@editable*/
            text-align: center;
         }
         /*
    @tab Columns
    @section left column link
    @tip Set the styling for your email's left column links. Choose a color that helps them stand out from your text.
    */
         .leftColumnContainer .mcnTextContent a {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
         }
         /*
    @tab Columns
    @section right column text
    @tip Set the styling for your email's right column text. Choose a size and color that is easy to read.
    */
         .rightColumnContainer .mcnTextContent,
         .rightColumnContainer .mcnTextContent p {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 14px;
            /*@editable*/
            line-height: 150%;
            /*@editable*/
            text-align: center;
         }
         /*
    @tab Columns
    @section right column link
    @tip Set the styling for your email's right column links. Choose a color that helps them stand out from your text.
    */
         .rightColumnContainer .mcnTextContent a {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
         }
         /*
    @tab Footer
    @section footer style
    @tip Set the background color and borders for your email's footer area.
    */
         #templateFooter {
            /*@editable*/
            border-top: 0;
            /*@editable*/
            border-bottom: 0;
         }
         /*
    @tab Footer
    @section footer text
    @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
    */
         .footerContainer .mcnTextContent,
         .footerContainer .mcnTextContent p {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-family: Helvetica;
            /*@editable*/
            font-size: 11px;
            /*@editable*/
            line-height: 125%;
            /*@editable*/
            text-align: center;
         }
         /*
    @tab Footer
    @section footer link
    @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
    */
         .footerContainer .mcnTextContent a {
            /*@editable*/
            color: #000000;
            /*@editable*/
            font-weight: normal;
            /*@editable*/
            text-decoration: underline;
         }
         @media only screen and (max-width: 480px) {
            body,
            table,
            td,
            p,
            a,
            li,
            blockquote {
               -webkit-text-size-adjust: none !important;
            }
         }
         @media only screen and (max-width: 480px) {
            body {
               width: 100% !important;
               min-width: 100% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            #bodyCell {
               padding-top: 10px !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .templateContainer {
               max-width: 600px !important;
               width: 100% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .columnsContainer {
               display: block !important;
               max-width: 600px !important;
               padding-bottom: 18px !important;
               padding-left: 0 !important;
               width: 100% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .mcnRetinaImage {
               max-width: 100% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .mcnImage {
               height: auto !important;
               width: 100% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .mcnCartContainer,
            .mcnCaptionTopContent,
            .mcnRecContentContainer,
            .mcnCaptionBottomContent,
            .mcnTextContentContainer,
            .mcnBoxedTextContentContainer,
            .mcnImageGroupContentContainer,
            .mcnCaptionLeftTextContentContainer,
            .mcnCaptionRightTextContentContainer,
            .mcnCaptionLeftImageContentContainer,
            .mcnCaptionRightImageContentContainer,
            .mcnImageCardLeftTextContentContainer,
            .mcnImageCardRightTextContentContainer,
            .mcnImageCardLeftImageContentContainer,
            .mcnImageCardRightImageContentContainer {
               max-width: 100% !important;
               width: 100% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .mcnBoxedTextContentContainer {
               min-width: 100% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .mcnImageGroupContent {
               padding: 9px !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .mcnCaptionLeftContentOuter .mcnTextContent,
            .mcnCaptionRightContentOuter .mcnTextContent {
               padding-top: 9px !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .mcnImageCardTopImageContent,
            .mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,
            .mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent {
               padding-top: 18px !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .mcnImageCardBottomImageContent {
               padding-bottom: 9px !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .mcnImageGroupBlockInner {
               padding-top: 0 !important;
               padding-bottom: 0 !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .mcnImageGroupBlockOuter {
               padding-top: 9px !important;
               padding-bottom: 9px !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .mcnTextContent,
            .mcnBoxedTextContentColumn {
               padding-right: 18px !important;
               padding-left: 18px !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .mcnImageCardLeftImageContent,
            .mcnImageCardRightImageContent {
               padding-right: 18px !important;
               padding-bottom: 0 !important;
               padding-left: 18px !important;
            }
         }
         @media only screen and (max-width: 480px) {
            .mcpreview-image-uploader {
               display: none !important;
               width: 100% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            /*
    @tab Mobile Styles
    @section heading 1
    @tip Make the first-level headings larger in size for better readability on small screens.
    */
            h1 {
               /*@editable*/
               font-size: 24px !important;
               /*@editable*/
               line-height: 125% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            /*
    @tab Mobile Styles
    @section heading 2
    @tip Make the second-level headings larger in size for better readability on small screens.
    */
            h2 {
               /*@editable*/
               font-size: 20px !important;
               /*@editable*/
               line-height: 125% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            /*
    @tab Mobile Styles
    @section heading 3
    @tip Make the third-level headings larger in size for better readability on small screens.
    */
            h3 {
               /*@editable*/
               font-size: 18px !important;
               /*@editable*/
               line-height: 125% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            /*
    @tab Mobile Styles
    @section heading 4
    @tip Make the fourth-level headings larger in size for better readability on small screens.
    */
            h4 {
               /*@editable*/
               font-size: 16px !important;
               /*@editable*/
               line-height: 125% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            /*
    @tab Mobile Styles
    @section Boxed Text
    @tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
    */
            .mcnBoxedTextContentContainer .mcnTextContent,
            .mcnBoxedTextContentContainer .mcnTextContent p {
               /*@editable*/
               font-size: 18px !important;
               /*@editable*/
               line-height: 125% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            /*
    @tab Mobile Styles
    @section Preheader Visibility
    @tip Set the visibility of the email's preheader on small screens. You can hide it to save space.
    */
            #templatePreheader {
               /*@editable*/
               display: block !important;
            }
         }
         @media only screen and (max-width: 480px) {
            /*
    @tab Mobile Styles
    @section Preheader Text
    @tip Make the preheader text larger in size for better readability on small screens.
    */
            .preheaderContainer .mcnTextContent,
            .preheaderContainer .mcnTextContent p {
               /*@editable*/
               font-size: 14px !important;
               /*@editable*/
               line-height: 115% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            /*
    @tab Mobile Styles
    @section Header Text
    @tip Make the header text larger in size for better readability on small screens.
    */
            .headerContainer .mcnTextContent,
            .headerContainer .mcnTextContent p {
               /*@editable*/
               font-size: 18px !important;
               /*@editable*/
               line-height: 125% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            /*
    @tab Mobile Styles
    @section Body Text
    @tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
    */
            .bodyContainer .mcnTextContent,
            .bodyContainer .mcnTextContent p {
               /*@editable*/
               font-size: 18px !important;
               /*@editable*/
               line-height: 125% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            /*
    @tab Mobile Styles
    @section Left Column Text
    @tip Make the left column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
    */
            .leftColumnContainer .mcnTextContent,
            .leftColumnContainer .mcnTextContent p {
               /*@editable*/
               font-size: 18px !important;
               /*@editable*/
               line-height: 125% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            /*
    @tab Mobile Styles
    @section Right Column Text
    @tip Make the right column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
    */
            .rightColumnContainer .mcnTextContent,
            .rightColumnContainer .mcnTextContent p {
               /*@editable*/
               font-size: 18px !important;
               /*@editable*/
               line-height: 125% !important;
            }
         }
         @media only screen and (max-width: 480px) {
            /*
    @tab Mobile Styles
    @section footer text
    @tip Make the body content text larger in size for better readability on small screens.
    */
            .footerContainer .mcnTextContent,
            .footerContainer .mcnTextContent p {
               /*@editable*/
               font-size: 14px !important;
               /*@editable*/
               line-height: 115% !important;
            }
         }
      </style>
   </head>
   <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
      <!--*|IF:MC_PREVIEW_TEXT|*-->
      <!--[if !gte mso 9]><!----><span class="mcnPreviewText" style="display: none; font-size: 0px; line-height: 0px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; visibility: hidden; mso-hide: all">{{ Title }}</span><!--<![endif]-->
      <!--*|END:IF|*-->
      <center>
         <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
               <td align="center" valign="top" id="bodyCell">
                  <!-- BEGIN TEMPLATE // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                     <tr>
                        <td align="center" valign="top">
                           <!-- BEGIN HEADER // -->
                           <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                              <tr>
                                 <td align="center" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                                       <tr>
                                          <td valign="top" class="headerContainer" style="padding-top: 10px; padding-bottom: 10px">
                                             <table class="mcnImageBlock" style="min-width: 100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="mcnImageBlockOuter">
                                                   <tr>
                                                      <td style="padding: 9px" class="mcnImageBlockInner" valign="top">
                                                         <table class="mcnImageContentContainer" style="min-width: 100%" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                            <tbody>
                                                               <tr>
                                                                  <td class="mcnImageContent" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align: center" valign="top">
                                                                     <img alt="" src="https://mcusercontent.com/2fd889e003b73ef448f04364c/images/dff641af-02a3-472b-9218-d93ba3ad7355.png" style="max-width: 1500px; padding-bottom: 0px; display: inline !important; vertical-align: bottom; border-radius: 0%" class="mcnImage" width="231.23999999999998" align="middle" />
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                           <!-- // END HEADER -->
                        </td>
                     </tr>
                     <tr>
                        <td align="center" valign="top">
                           <!-- BEGIN BODY // -->
                           <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                              <tr>
                                 <td align="center" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                                       <tr>
                                          <td valign="top" class="bodyContainer" style="padding-top: 10px; padding-bottom: 10px">
                                             <table class="mcnImageCardBlock" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="mcnImageCardBlockOuter">
                                                   <tr>
                                                      <td class="mcnImageCardBlockInner" style="padding-top: 9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px" valign="top">
                                                         <table class="mcnImageCardBottomContent" style="background-color: #2a314c" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                            <tbody>
                                                               <tr>
                                                                  <td class="mcnImageCardBottomImageContent" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0; padding-left: 0px" valign="top" align="center">
                                                                     <img alt="" src="https://mcusercontent.com/2fd889e003b73ef448f04364c/images/9f7ee634-5f81-cda7-d3d4-d57e808315a4.jpg" style="max-width: 1128px" class="mcnImage" width="564" />
                                                                  </td>
                                                               </tr>
                                                               <tr>
                                                                  <td class="mcnTextContent" style="padding: 9px 18px; color: #ffffff; font-size: 16px; font-weight: bold; text-align: center" width="546" valign="top">
                                                                     <span style="color: #fff !important">
                                                                        New Task Added to Building: {{ BuildingName }} by {{ Author }}<br />
                                                                        Subject: {{ Message }}
                                                                     </span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                             <table class="mcnTextBlock" style="min-width: 100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="mcnTextBlockOuter">
                                                   <tr>
                                                      <td class="mcnTextBlockInner" style="padding-top: 9px" valign="top">
                                                         <!--[if mso]>
                <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                <tr>
                <![endif]-->

                                                         <!--[if mso]>
                <td valign="top" width="600" style="width:600px;">
                <![endif]-->
                                                         <table style="max-width: 100%; min-width: 100%" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                            <tbody>
                                                               <tr>
                                                                  <td class="mcnTextContent" style="padding-top: 0; padding-right: 18px; padding-bottom: 9px; padding-left: 18px" valign="top">
                                                                     <br />
                                                                     Click below to visit Silver Brick<br />
                                                                     &nbsp;
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                         <!--[if mso]>
                </td>
                <![endif]-->

                                                         <!--[if mso]>
                </tr>
                </table>
                <![endif]-->
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                             <table class="mcnButtonBlock" style="min-width: 100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="mcnButtonBlockOuter">
                                                   <tr>
                                                      <td style="padding-top: 0; padding-right: 18px; padding-bottom: 18px; padding-left: 18px" class="mcnButtonBlockInner" valign="top" align="center">
                                                         <table class="mcnButtonContentContainer" style="border-collapse: separate !important; border-radius: 3px; background-color: #000000" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                               <tr>
                                                                  <td class="mcnButtonContent" style="font-family: Arial; font-size: 18px; padding: 14px" valign="middle" align="center">
                                                                     <a class="mcnButton" title="ACTIVATE ACCOUNT" href="slvr://com.silverbrick.ios" target="_blank" style="font-weight: bold; letter-spacing: normal; line-height: 100%; text-align: center; text-decoration: none; color: #ffffff">OPEN SILVERBRICK</a>
                                                                  </td>
                                                               </tr>
                                                               <tr>
                                                                  <td class="mcnButtonContent" style="font-family: Arial; font-size: 18px; padding: 14px" valign="middle" align="center">
                                                                     <a class="mcnButton" title="ACTIVATE ACCOUNT" href="https://portal.silverbrickmanagement.com/" target="_blank" style="font-weight: bold; letter-spacing: normal; line-height: 100%; text-align: center; text-decoration: none; color: #ffffff; margin-top: 30px">VISIT WEB PORTAL</a>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                             <table class="mcnDividerBlock" style="min-width: 100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="mcnDividerBlockOuter">
                                                   <tr>
                                                      <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 20px 18px">
                                                         <table class="mcnDividerContent" style="min-width: 100%; border-top: 1px solid #000000" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                               <tr>
                                                                  <td>
                                                                     <span></span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                         <!--            
                <td class="mcnDividerBlockInner" style="padding: 18px;">
                <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
-->
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                           <!-- // END BODY -->
                        </td>
                     </tr>
                     <tr>
                        <td align="center" valign="top">
                           <!-- BEGIN COLUMNS // -->
                           <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateColumns">
                              <tr>
                                 <td align="center" valign="top" style="padding-top: 10px; padding-bottom: 10px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                                       <tr>
                                          <td align="left" valign="top" class="columnsContainer" width="50%">
                                             <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateColumn">
                                                <tr>
                                                   <td valign="top" class="leftColumnContainer">
                                                      <table class="mcnImageBlock" style="min-width: 100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                         <tbody class="mcnImageBlockOuter">
                                                            <tr>
                                                               <td style="padding: 9px" class="mcnImageBlockInner" valign="top">
                                                                  <table class="mcnImageContentContainer" style="min-width: 100%" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td class="mcnImageContent" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align: center" valign="top">
                                                                              <a href="https://apps.apple.com/us/app/silver-brick/id1558677674" title="" class="" target="_blank">
                                                                                 <img alt="" src="https://mcusercontent.com/2fd889e003b73ef448f04364c/images/a23ce08d-2fb0-4c5c-8aba-ca34c3b347ff.png" style="max-width: 512px; padding-bottom: 0; display: inline !important; vertical-align: bottom" class="mcnImage" width="204" align="middle" />
                                                                              </a>
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                      <table class="mcnTextBlock" style="min-width: 100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                         <tbody class="mcnTextBlockOuter">
                                                            <tr>
                                                               <td class="mcnTextBlockInner" style="padding-top: 9px" valign="top">
                                                                  <!--[if mso]>
                <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                <tr>
                <![endif]-->

                                                                  <!--[if mso]>
                <td valign="top" width="300" style="width:300px;">
                <![endif]-->
                                                                  <table style="max-width: 100%; min-width: 100%" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td class="mcnTextContent" style="padding-top: 0; padding-right: 18px; padding-bottom: 9px; padding-left: 18px" valign="top">
                                                                              <a href="https://apps.apple.com/us/app/silver-brick/id1558677674" target="_blank"
                                                                                 >Download<br />
                                                                                 &nbsp;the app from the Apple App Store</a
                                                                              >
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                                  <!--[if mso]>
                </td>
                <![endif]-->

                                                                  <!--[if mso]>
                </tr>
                </table>
                <![endif]-->
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </td>
                                                </tr>
                                             </table>
                                          </td>
                                          <td align="left" valign="top" class="columnsContainer" width="50%">
                                             <table align="right" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateColumn">
                                                <tr>
                                                   <td valign="top" class="rightColumnContainer">
                                                      <table class="mcnImageBlock" style="min-width: 100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                         <tbody class="mcnImageBlockOuter">
                                                            <tr>
                                                               <td style="padding: 9px" class="mcnImageBlockInner" valign="top">
                                                                  <table class="mcnImageContentContainer" style="min-width: 100%" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td class="mcnImageContent" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align: center" valign="top">
                                                                              <a href="https://play.google.com/store/apps/details?id=com.silverbrick.android" title="" class="" target="_blank">
                                                                                 <img alt="" src="https://mcusercontent.com/2fd889e003b73ef448f04364c/images/e0d846c5-3d38-4f74-889b-8651defc1d20.png" style="max-width: 930px; padding-bottom: 0; display: inline !important; vertical-align: bottom" class="mcnImage" width="204" align="middle" />
                                                                              </a>
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                      <table class="mcnTextBlock" style="min-width: 100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                         <tbody class="mcnTextBlockOuter">
                                                            <tr>
                                                               <td class="mcnTextBlockInner" style="padding-top: 9px" valign="top">
                                                                  <!--[if mso]>
                <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                <tr>
                <![endif]-->

                                                                  <!--[if mso]>
                <td valign="top" width="300" style="width:300px;">
                <![endif]-->
                                                                  <table style="max-width: 100%; min-width: 100%" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td class="mcnTextContent" style="padding-top: 0; padding-right: 18px; padding-bottom: 9px; padding-left: 18px" valign="top">
                                                                              <a href="https://play.google.com/store/apps/details?id=com.silverbrick.android" target="_blank"
                                                                                 >Download<br />
                                                                                 &nbsp;the app from the Google Play Store</a
                                                                              >
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                                  <!--[if mso]>
                </td>
                <![endif]-->

                                                                  <!--[if mso]>
                </tr>
                </table>
                <![endif]-->
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </td>
                                                </tr>
                                             </table>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                           <!-- // END COLUMNS -->
                        </td>
                     </tr>
                     <tr>
                        <td align="center" valign="top">
                           <!-- BEGIN FOOTER // -->
                           <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                              <tr>
                                 <td align="center" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                                       <tr>
                                          <td valign="top" class="footerContainer" style="padding-top: 10px; padding-bottom: 10px">
                                             <table class="mcnDividerBlock" style="min-width: 100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="mcnDividerBlockOuter">
                                                   <tr>
                                                      <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 40px 18px 20px">
                                                         <table class="mcnDividerContent" style="min-width: 100%; border-top: 1px solid #000000" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                               <tr>
                                                                  <td>
                                                                     <span></span>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                         <!--            
                <td class="mcnDividerBlockInner" style="padding: 18px;">
                <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
-->
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                             <table class="mcnTextBlock" style="min-width: 100%" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tbody class="mcnTextBlockOuter">
                                                   <tr>
                                                      <td class="mcnTextBlockInner" style="padding-top: 9px" valign="top">
                                                         <!--[if mso]>
                <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                <tr>
                <![endif]-->

                                                         <!--[if mso]>
                <td valign="top" width="600" style="width:600px;">
                <![endif]-->
                                                         <table style="max-width: 100%; min-width: 100%" class="mcnTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                            <tbody>
                                                               <tr>
                                                                  <td class="mcnTextContent" style="padding-top: 0; padding-right: 18px; padding-bottom: 9px; padding-left: 18px" valign="top">
                                                                     <em>Copyright © 2021 Silver Brick Management LLC, All rights reserved.</em><br />
                                                                     <br />
                                                                     Want to change how you receive these emails?<br />
                                                                     You can <a href="*|UPDATE_PROFILE|*">update your preferences</a> or <a href="*|UNSUB|*">unsubscribe from this list</a>.
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                         <!--[if mso]>
                </td>
                <![endif]-->

                                                         <!--[if mso]>
                </tr>
                </table>
                <![endif]-->
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                           </table>
                           <!-- // END FOOTER -->
                        </td>
                     </tr>
                  </table>
                  <!-- // END TEMPLATE -->
               </td>
            </tr>
         </table>
      </center>
   </body>
</html>
