.splash {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(255, 255, 255, 1);
}
a {
    text-decoration: none;
}
.rectangle {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
.rectangle1 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 100%;
    width: 100%;
    margin: 0;
    left: 0px;
    position: absolute;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    opacity: 0.15;
}
.group3 {
    background-color: rgba(255, 255, 255, 0);
    top: 39%;
    height: 68px;
    width: 212px;
    position: absolute;
    margin: 0;
    left: 23%;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
.group3 .rectangle2 {
    background-color: rgba(255, 255, 255, 0);
    top: 0px;
    height: 68px;
    width: 68px;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
.group3 .SilverBrick {
    background-color: rgba(255, 255, 255, 0);
    top: 17px;
    height: auto;
    width: auto;
    position: absolute;
    margin: 0;
    left: 75px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    font-family: "Helvetica", Helvetica, Arial, serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    line-height: 26px;
}
.group3 .fill4 {
    background-color: rgba(255, 255, 255, 0);
    top: 22px;
    height: 20px;
    width: 38px;
    position: absolute;
    margin: 0;
    left: 15px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
#loadingScreen {
    width: 100%;
}

#loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    line-height: 10;
    font-weight: 400;
    font-family: arial, sans-serif;
}

.spinner {
    content: "";
    position: absolute;
    height: 6px;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    animation: 1.2s loading infinite;
}


#modalContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 9%;
    left: 0px;
    z-index: 10000;
}

#alertBox {
    position: relative;
    width: 400px;
    max-width: 70%;
    min-height: 150px;
    margin: 200px auto auto auto;
    border: 1px solid #000;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 20px 30px;
}

#modalContainer > #alertBox {
    position:relative;
}

#alertBox h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    background-color: #539bed;
    color: #FFF;
    border-bottom: 1px solid #000;
    padding: 3%;
    align-content: center;
}

#alertBox p {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    height: 50px;
    padding-left: 5px;
    align-content: center;
}

#alertBox #cancelBtn {
    display: block;
    position: relative;
    margin: 5px auto;
    padding: 7px;
    border: 0 none;
    width: 70px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: #539bed;
    border-radius: 3px;
    text-decoration: none;
    align-content: center;
}
@keyframes loading {
    50% {
        transform: scalex(100vw);
    }
    51% {
        transform: translatex(-100vw);
    }
}

@media (min-width: 768px) {
    .group3 {
        left: 40%;
        text-align: center;
    }
}